@model QueensOfCodeProject.UI.Models.Post

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SharedLayout.cshtml";
}




<div class="container">
    <h1>Admin Landing Page</h1>
</div>