@model QueensOfCodeProject.UI.Models.Post

@{
    ViewBag.Title = "About";
}

<header>
    <img src="../Images/landingImage2.jpg" class="img-fluid" alt="Responsive image" id="bannerImage">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 id="blogTitle">QUEENS OF CODE</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
